:root {
    --dark-purple: #3a3042ff;
    --earth-yellow: #db9d47ff;
    --coral: #ff784fff;
    --peach-yellow: #ffe19cff;
    --nyanza: #edffd9ff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
.trashEvent:hover {
    color: red !important;
}
.modifEventIcon:hover {
    color: blue !important;
}
/* HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER */
.burgerDisplayMobile {
    display: none;
}
@media (max-width: 992px) {
    #burgerDisplayDesktop {
        display: none;
    }
    .burgerDisplayMobile {
        display: block;
    }
    .container .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container .row .col:first-child {
        margin-bottom: 15px;
    }
}
/* HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER */
/* BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY */
img.rounded {
    width: 500px;
}
@media (max-width: 550px) {
    .container .row .col:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    img.rounded {
        width: 90vw !important;
    }
}
/* BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY */