@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}
:root {
    --dark-purple: #3a3042ff;
    --earth-yellow: #db9d47ff;
    --coral: #ff784fff;
    --peach-yellow: #ffe19cff;
    --nyanza: #edffd9ff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

/* HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER */
header {
    height: 80px;
    position: relative;
    background-color: var(--dark-purple);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}
#desktopMenu ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
header a {
    color: #fff;
}
#mobileMenu {
    display: flex;
    position: absolute;
    top: 80px;
    left: -100vw;
    background-color: var(--coral);
    width: 100%;
    z-index: 1;
    transition: 0.3s;
}
#mobileMenu ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mobileMenu ul li {
    padding: 10px 0;
}
#mobileMenu ul li a {
    padding: 10px 0;
}
#divIcon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.open2 {
    left: 0 !important;
}
/* Burger icon */
#burgerIcon {
    width: 40px;
    height: 25px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
#burgerIcon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ffffff;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#burgerIcon span:nth-child(1) {
    top: 0px;
}
  
#burgerIcon span:nth-child(2),#burgerIcon span:nth-child(3) {
    top: 12px;
}
  
#burgerIcon span:nth-child(4) {
    top: 24px;
}
  
#burgerIcon.open span:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
}

#burgerIcon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
#burgerIcon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
  
#burgerIcon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
@media screen and (max-width: 600px) {
    #desktopMenu {
        display: none;
    }
}
/* HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER */
