:root {
    --dark-purple: #3a3042ff;
    --earth-yellow: #db9d47ff;
    --coral: #ff784fff;
    --peach-yellow: #ffe19cff;
    --nyanza: #edffd9ff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
.trash:hover {
    color: red !important;
}
/* HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER */
.burgerDisplayMobile {
    display: none;
}
@media (max-width: 992px) {
    #burgerDisplayDesktop {
        display: none;
    }
    .burgerDisplayMobile {
        display: block;
    }
}
/* HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER */
